/*
   menu: #ff7900
   menu-hover: #ffc999
   submenu-hover & menu dividers: #ffa95c
   zijkanten: #9C9C9C
   weekends: #444
   feestdagen: #777
   verlof: #d80000
   achtergrond: #f2ffbd
*/

*                   { margin: 0; /* zorgt ervoor dat de banner mooi aansluit met de bovenkant van de browser */
                      box-sizing: border-box;
                    }
html                { -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */ }
html, body          { height: 100%; }
body                { font-family: Roboto,arial,sans-serif;
                      background-color: #9C9C9C;  /* grijze zijranden */
                      text-align: center; /* nodig om het block te centreren in IE */
                    }
p, ul				{ margin-bottom: 10px; }
img 				{ margin: 10px auto;  /* top en bottom is 10px, left en right is auto wat zorgt voor centreren */
                      display: block;
                      width: 100%;
                    }
hr					{ margin-top: 20px; margin-bottom: 20px; }
.kort			    { margin-left: 10px; margin-right: 10px; }

::selection         { background: rgba(255, 121, 0, 0.51); }

a:link				{ color:#ff7900; }
a:visited			{ color:#ff7900; }
a:hover				{ color:#ff7900; }
a:active			{ color:#ff7900; }

#wrap               { margin: 0 auto;  /* auto zorgt ervoor dat de div gecentreerd wordt op de pagina */
                      max-width: 1024px;
                      background-color: #f2ffbd;
                      overflow: hidden;
                      min-height: 100%; /* zorgt ervoor dat de achtergrondkleur altijd tot onderaan het scherm gaat */
                    }

#header             { position: fixed; max-width: 1024px; width: 100%;
                      /*margin-top: 100px;*/
                      /*height: 100px;*/
                      z-index:100000;
                      /*margin: auto 0;*/
                      /*top: 0;*/
                    }
#banner             { width: 100%; background-color: #fff; float: left; }
#logo               { width: 180px; float: left; margin: 10px 10px; }

#menuBar            { clear: both; box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28); }
#menuBar ul         { list-style: none; font-size: 14px; background-color: #ff7900; height: 30px; padding: 0;
                      /*overflow: hidden; !* niet meer nodig als menu responsive is *!*/
                    }
#menuBar li      	{ position: relative; float: left; display: block; }
#menuIndex      	{ width: 16% }
#menuContact      	{ width: 19% }
#menuWiewat      	{ width: 27% }
#menuKalender      	{ width: 22% }
#menuFotos      	{ width: 16% }
#menuBar li a		{ color: white;
                      line-height: 30px; /* hierdoor wordt de tekst verticaal gecentreerd */
                      display: block; /* hierdoor wordt heel de beschikbare ruimte gebruikt en met de achtergrondkleur opgevuld */
                      text-decoration: none; text-align: center;
                      border: 1px #ffa95c; border-right-style: solid;
                      overflow: hidden; /* niet meer nodig als menu responsive is */
                    }
#menuFotos a        { border-right-style: none !important; }
#menuBar li a:hover	{ background-color: #ffc999; color: black; }

/* Hide from IE5-Mac \*/
#menuBar li a       { float: none }
/* End hide */

#content			{ padding: 10px 20px; text-align: left; font-size: 15px;
                      margin-top: 113px;
                    }
#content ul         { margin-left: 20px; }
#content ul.sublist	{ margin-top: 5px; }
#content li         { margin-bottom: 5px; }
/*#content img        { box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28); }*/

#footer             { clear: both; height: 20px; } /* de footer zorgt voor een mooie marge onderaan de pagina */

.title              { font-weight: bold; font-size: 22px; /*margin-top: 10px;*/ }
.subtitle           { font-weight: bold; font-size: 16px; }

table               { border-collapse: collapse; }

.legende            { margin: 0 10px 40px; }
.legende div        { font-size: 13px; float: left; }
.vierkantje         { width: 30px; height: 25px; box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28); }
.info               { height: 25px; text-align: left !important; padding-left: 10px !important; padding-right: 25px !important; padding-top: 5px !important; color: rgba(0, 0, 0, 0.7); }
.kalender           { margin: 10px 10px; box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28); }
.kalender ul        { list-style-type: none; margin-left: 0 !important; }
.maandHoofding      { padding: 10px 0; width: 100%; background: #1ca615; text-align: center; color: white; }
.maandHoofding ul   { margin: 0; padding: 0; }
.maandHoofding li   { color: white; font-size: 20px; text-transform: uppercase; letter-spacing: 3px; }
.dagenHoofding      { margin: 0; padding: 0; background-color: #ccc; height: 38px; overflow: hidden; }
.dagenHoofding li   { padding: 10px 0; display: inline-block; width: 14.2857%; color: #666; text-align: center; float: left; }
.dagen              { margin: 0; padding: 0; background: white; overflow: hidden; }
.dagen li           { font-size: 13px; line-height: 30px; list-style-type: none; display: inline-block; width: 14.2857%; text-align: center; margin-bottom: 0 !important; float: left; color: rgba(0, 0, 0, 0.7); padding: 0; }
.weekend            { background-color: #e8e8e8; }
.feestdag           { background-color: #aaaaaa; color: white !important; }
.gesloten           { background-color: #ff7900; color: white !important; }
.andereMaand        { color: rgba(0, 0, 0, 0.2) !important; }
.optioneel          { display: none !important; }
.break              { clear: both; }

.bold				{ font-weight: bold; }
.underline			{ text-decoration: underline; }

.foto               { float: left; position: relative; width: 100%; padding-bottom: 100%; }
.fotoInner          { position: absolute; left: 10px; right: 10px; /* top: 10px; bottom: 10px; */
                      /*overflow: hidden;*/
                    }
.fotoInner img      { width: 100%; }

.google-maps        { box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28); position: relative; margin-top: 20px; padding-bottom: 50%; /* This is the aspect ratio */ height: 0; overflow: hidden; }
.google-maps iframe { position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important; }

/*.row::after         { content: ""; clear: both; display: table; }*/

/* For mobile phones: */
[class*="span-"] {
    float: left;
    width: 100%;
}

@media only screen and (orientation: landscape) and (max-height: 432px) {
    /* Microsoft Lumia 1520 is 432px. Er is geen courante smartphone die breder is. (iPhone 6 plus is 414px.) */
    #logo { width: 180px !important; }
    #content { margin-top: 113px !important; }
}

@media only screen and (min-width: 433px) {
    /* Microsoft Lumia 1520 is 432px. Er is geen courante smartphone die breder is. (iPhone 6 plus is 414px.) */
    .span-4 { width: 50%; }
    .span-6 { width: 50%; }
    .span-12 { width: 100%; }

    .foto { width: 50%; padding-bottom: 50%; }
    .optioneel { display: inline-block !important; }


    /* Nodig om de foto's netjes te laten aansluiten met de zijkant van de content wrapper. */
    #foto-ilse { float: right; }
    #foto-zeppa { float: left; }

    img { margin: auto; width: 95%; }
    #menuBar li { width: 20%; }
    #logo { width: 256px; }
    #content { margin-top: 136px; }
}

@media only screen and (min-width: 769px) {
    /* iPad is 768px breed. */
    #content { padding: 20px 40px; }
    .foto { width: 33.3%; padding-bottom: 33.3%; }
}

@media only screen and (min-width: 1024px) {
    /* iPad is 1024px in landscape mode. Desktop zal typisch ook deze breedte gebruiken. */
    .span-4 { width: 33.33%; }
}

/* Moet onderaan staan omdat het anders wordt overschreven door de mobile phones config hierboven. */
.float-right		{ float: right; }
